*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
}

header{
    display: block;
    background-image: url(https://i.pinimg.com/originals/33/cd/c8/33cdc8f4eb5d3e3bf6fc79109e1048a1.jpg);
    background-size: 1300px;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: 0px;
    margin-left: 0px;
}

header h1{
    font-size: 200px;
    color: black;
    display: block;
    float: left;
    margin-left: 61px;
    margin-top: 0px;
    background-color: transparent;
}

h2{
    font-size: 20px;
    color: white;
}

p{
    color: white;
}

main div{
    width: 20%;
    height: 400px;
    display: block;
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 50px;
}

main article{
    float: left;
    display: block;
}

main img{
    width: 100%;
    height: auto;
}

footer div{
    width: 30%;
    height: auto;
    display: block;
    float: left;
    margin-left: 30px;
}

footer{
    width: 100%;
    height: auto;
    display: block;
    float: left;
    background-color: white;
}

footer div h3{
    font-size: 50px;
    background-color: black;
    color: white;
    text-align: center;
}

footer div img{
    width: 100%;
    height: auto;
    display: block;
    float: left;
}